vehicles
non-vehicles
bbox-example-image.jpg
Drafts
Writeup_Folder
project_video_output.mp4
project_video_output_with_frame_skipping.mp4
project_video_output_with_frame_skipping_threshold_20.mp4
README (2).md
writeup_template.md
